h1 {
	color: green;
}

.header {
	text-align: center;
}

.container {
	border: 1px solid red;
	margin: 2% 20%;
	padding: 12px;
}

.form-field {
	margin: 28px;
}

.form-field > input {
	width: 100%;
	height: 32px;
}

.btn-submit {
	width: 100px;
	height: 30px;
	margin-left: 45%;
	background-color: orange;
	color: white;
	border: 2px solid red;
}

.descrption {
	margin: 0 20%;
}

.my-img {
	margin-left: 40%;
	width: 200px;
	height: 150px;
}